body {
    background-color: #a6a6a4;
    color: #40403d;
    font-family: Arial, sans-serif;
    margin: 20px;
    font-weight: bold;
  }

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
}

.grid-container > div {
    background-color: azure;
    padding: 10px;
}

.module {
    color: #30302f;
    font-style: italic;
    font-weight: 900;
}

.code {
    font-family: Consolas;
    color: #ebf70f;
    font-style: italic;
}

.bolder {
    font-weight: 900;
}

.list {
    margin-top: 4px;
}
.liNone {
    list-style-type: none;
}

.noBottomGap { 
    margin-bottom: 0px;
}